body {
    background-color: skyblue;
    background: url('/images/cloudysunsky.jpg') no-repeat;
    background-size: cover;
}

p {
    color: white;
    font-size: 14px;
    text-align: left;
}

aside {
    background-color:rgba(0, 0, 0, 0.3);
    height: auto;
    float: right;
    margin:20px;
    padding:40px;
}

h1 {
    color: #010101;
    text-align: center;
}
h2 {
    font-size: 24px;
    text-decoration: underline;
    color: white;
    text-align: center;
}
h3 {
    font-size: 20px;
    color:white;
    text-align: left;
    text-decoration: underline;
}
h4 {
    font-size: 18px;
    color: white;
    text-align: center;
}

h5 {
    font-size: 16px;
    color:white;

}

.register {
    background-color: rgba(0,0,0,.5);
    height: auto;
    width: 600px;
    margin: auto;
}

.register h1 {
    color: #fdfdfd;
    font-size: 40px;
    font-weight: bold;
    font-family: HelveticaNeue-Light;
    text-align: center;
}
















.pointed-nosecone {
    background: url("/images/rocketpieces_pointed-nose.png") no-repeat;
    height:150px;
}

.rounded-nosecone {
    background:url("/images/rocketpieces_rounded-nose.png") no-repeat;
    height:150px;
}

.half-circle-nosecone {
    background:url("/images/rocketpieces_half-circle-nose.png") no-repeat;
    height:150px;
}

.bodyTube-extension-two {
    background:url("/images/rocketpieces_2feet-body-extension.png") no-repeat;
    height:250px;
}

.bodyTube-extension-four {
    background:url("/images/rocketpieces_4feet-body-extension.png") no-repeat;
    height:450px;
}

.pointed-fins {
    background:url("/images/rocketpieces_pointed-fins.png") no-repeat;
    height:750px;
}

.extended-fins {
    background:url("/images/rocketpieces_extend-fins.png") no-repeat;
    height:755px;
}

.flat-fins {
    background:url("/images/rocketpieces_flat-fins.png") no-repeat;
    height:750px;
}


.blackback {
    background-color: rgba(0,0,0, .5);
    padding:10px;
    margin-top:20px;
}

/* color boxes */

.blue, .green, .red, .pink, .purple, .yellow {
    border: 5px solid black;
    width: 65px;
    height: 25px;
}

.blue {
    background-color: #003366;
}

.green {
    background-color: #009926;
}

.red {
    background-color: #880000;
}

.pink {
    background-color: #f341c2;
}

.purple {
    background-color: #984bd2;
}

.yellow {
    background-color: #f5db0a;
}

