body {
    background-color: skyblue;
    background: url('/images/cloudysunsky.jpg') no-repeat;
    background-size: cover;
}

p {
    color: white;
    font-size: 42px;
    text-decoration: underline;
    text-align: center;
}

aside {
    background-color:rgba(0, 0, 0, 0.3);
    height: auto;
    width: 400px;
    float: right;
    padding: 30px;
    margin:20px;
}

h4 {
    font-size: 20px;
    color: white;
    margin-left: 45px;
}

.pointed-nosecone {
    background: url("/images/rocketpieces_pointed-nose.png") no-repeat;
    height:150px;
}

.rounded-nosecone {
    background:url("/images/rocketpieces_rounded-nose.png") no-repeat;
    height:150px;
}

.half-circle-nosecone {
    background:url("/images/rocketpieces_half-circle-nose.png") no-repeat;
    height:150px;
}

.bodyTube-extension-two {
    background:url("/images/rocketpieces_2feet-body-extension.png") no-repeat;
    height:250px;
}

.bodyTube-extension-four {
    background:url("/images/rocketpieces_4feet-body-extension.png") no-repeat;
    height:450px;
}

.pointed-fins {
    background:url("/images/rocketpieces_pointed-fins.png") no-repeat;
    height:750px;
}

.extended-fins {
    background:url("/images/rocketpieces_extend-fins.png") no-repeat;
    height:755px;
}

.flat-fins {
    background:url("/images/rocketpieces_flat-fins.png") no-repeat;
    height:750px;
}

/* THUMBNAILS */
/* nose cones */
.pointed-nosecone-thumb {
    background:url("/images/thumbnails/rocketthumb_pointed-nosecone-thumb.png") no-repeat;
    height:150px;
}

.rounded-nosecone-thumb {
    background:url("/images/thumbnails/rocketthumb_rounded-nosecone-thumb.png") no-repeat;
    height:150px;
}

.half-circle-nosecone-thumb {
    background:url("/images/thumbnails/rocketthumb_half-circle-nosecone-thumb.png") no-repeat;
    height:150px;
}

/* fins */
.pointed-fins-thumb {
    background:url("/images/thumbnails/rocketthumb_pointed-fins-thumb.png") no-repeat;
    height:350px;
}

.extended-fins-thumb {
    background:url("/images/thumbnails/rocketthumb_extended-fins-thumb.png") no-repeat;
    height:350px;
}
.flat-fins-thumb {
    background:url("/images/thumbnails/rocketthumb_flat-fins-thumb.png") no-repeat;
    height:350px;
}