<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Passport Authentication</title>
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
</head>
<body class="container">
<div class="titlebox"><h1>Log In</h1></div>
<div class="formbody">
    <form action="/" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password"/>
        </div>
        <div>
            <input type="submit" value="Log In"/>
            <a href="/register">Register</a>
        </div>
    </form>
</div>
</body>
</html>